.navbar-brand {
    .logo {
        background: url("../img/react-logo-1000-transparent.png") no-repeat;
        background-size: 36px 36px;
        width: 36px;
        height: 36px;
        display: inline-block;
        margin: -10px 5px 0 0;
        float: left;
    }
    color: #00d8ff!important;
}
